.Badge {
	padding: 6px 15px 6px 20px;
  border-radius: 18px;
  color: #fff;

  &_coding {
    background-color: #0275d8;
  }

  &_design {
    background-color: rgb(253, 100, 100);;
  }

  &_math {
    background-color: rgb(253, 253, 82);
  }

  & > div {
    align-items: center;
  }

  &__close {
    width: 16px;
    height: 16px;
    background-position: center; 
    background-size: cover;
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      opacity: .6
    }
  }
}
