.Select {
	display: flex;
	align-items: center;
	color: #0d6efd;

  & + & {
    margin-left: 20px;
  }

	&__value {
		min-width: 60px;
		position: relative;
		padding: 6px 12px;
		border-radius: 4px;
		border: 1.5px solid #0d6efd;
		box-sizing: border-box;
		font-size: 16px;
		font-weight: 500;
		text-align: left;
		cursor: pointer;

		&::after {
			content: "\25BE";
			position: absolute;
			top: 4px;
			right: 6px;
		}
	}
	
	&__options {
		position: absolute;
		top: calc(100% - 3px);
		right: -1.5px;
		text-align: left;
		width: calc(100% + 3px);
		padding-left: 12px;
		z-index: 999;
		background: #fff;
		border-top: none;
		border-radius: 0 0 4px 4px;
		max-height: 0;
		opacity: 0;
		transition: all .3s ease;
		overflow: hidden;
		border: 1.5px solid #0d6efd;
		border-top: none;
	}

    &_multi &__value {
        min-width: 90px;
    }

    &_multi &__option {
        padding-left: 16px;
        position: relative;

        &.selected::after {
            background: #0d6efd;
        }

        &::after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            border: 1px solid #0d6efd;
            left: -2px;
            top: 6px;
        }
    }

	&__option {
		opacity: .8;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}
	}

	&_active &__options {
		opacity: 1;
		max-height: 100px;
	}

	&__label {
		margin-right: 10px;
	}
}
